@charset "utf-8";
/* CSS Document */

/* COMMON ELEMENTS */
body {
	padding-top: 50px;
}
.row {
	margin-top: 25px;
}
.btn {
	background-color: #51D251;
  	border-radius: 5px;
	width: 75%;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	font-size: 130%;	
	box-shadow: 0 5px 4px #445262;
}
.btn:focus {
	border: 0;
	box-shadow: 0 5px 4px #445262;
	color: #fff;
  	background-color: #51D251;
}
.btn:hover {
	background-color: #30b830;
	color: #fff;
	cursor: pointer;
}
.btn:active {
	background-color: #30b830;
	box-shadow: 0 2px 1px #343f4b;
	transform: translateY(2px);
}
.search-btn {
	width: auto;
	font-weight: auto;
	font-size: 95%;	
}
.logo-background {	
	background-color: #000;
	padding: 50px 0 50px 0;
	height: 100%;
}
.logo-background p {
	color: #FFF;
}
.logo-background img {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;	
}

/* NAV BAR */
#navbar-logo {
	width: 30px;
	height: auto;
	object-fit: contain;
	margin: 0 0.75rem 0 0;
	padding: inherit 0;
}
.nav-user-profile {
  	display: block;
  	padding: 0.5rem 0.25em;
	color: #fff;
	opacity: 0.5;	
}
.nav-username {
	color: #fff !important;
	opacity: 1.0;
	padding-right: 1.0em !important;
}
.user-icon {
	color: #fff;
	font-size: 24px;
	margin-right: 0.5em;
}
#logout {
	padding: 0.5rem 0 0.5rem 0.25em;
}

/* WELCOME SCREEN */
#welcome-buttons {
	padding-top: 40px;
}

/* USER HOME */
.home-screen {
	margin: .5em;
}
.home-screen h2 {
	font-size: 150%;
	font-weight: 650;
}
.home-screen h3 {
	font-size: 125%;	
}
.home-screen a {
	color: #6B99C2;
}
.home-screen a:hover, a:focus {
	color: #738A9F;
	text-decoration: none;
}

/* SIGN IN & CREATE ACCOUNT FORMS */
.sign-in-form {
	margin: 20px 0 20px 0;
	padding: 20px 20px 40px 20px;
	border-radius: 12px;
	border: 1.5px solid #2B3450
}
.sign-in-form .bottom-links {
	margin-top: 20px;
}
.sign-in-form h2 {
	margin-bottom: 15px;
	font-weight: 600;
}
.sign-in-form p {
	margin-bottom: 7px;
}
.sign-in-form, label {
	font-weight: 500;
	margin-left: 3px;
}
input[type=password] {
	width: 50%;
}
#password {
	width: 100%;
	margin-bottom: 0px;
}
.help-icon {
	position: relative;
	margin-bottom: 15px;
}
.fa-question-circle-o {
	font-size: 24px !important;	
	position: absolute;
	top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
input[type=date] {
	width: 50%;
}